header {
	text-align: center;
	font-family: "Voltaire";

}


body > .container > h3 {
	text-align: center;
	padding: 5px 50px;
	border-radius: 5px;
	background-color: #729D34;
	font-family: "Voltaire";
	color: white;
	margin: 50px 0px 10px;
}


footer {
	text-align: center;
}

.output {
	max-height: 500px;
	overflow-y: auto;
}
/*
.CodeMirror {
	height: 500px;
}
*/